* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    font-size: 16px;
    --color-bac-icon: #A80E0E;
    --color-text-link: #FFFFFF;
    --color-btn-hero: #FFAA00;
    --color-paragraph: #686868;
}

/* header style */

.header {
    position: fixed;
    width: 100%;
    z-index: 999;



}


.logo {
    display: flex;
    margin-left: 5rem;
}


.logo img {
    margin-top: 1.1rem;
    width: 130px;
    height: 90px;


}

.items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}


.items .link a,
.items .icons a {
    padding: 1rem;
    padding-right: 2.5rem;
    color: var(--color-text-link);
    font-size: 1.2rem;
    font-weight: 500;

}

.last-link {
    padding-right: 1rem !important;
    width: 150px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 95px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-bac-icon);
    width: 100%;
    height: 88%;
}

.icons a {
    padding: .5rem;
}

.icons a img {
    width: 30px;
    height: 30px;
}

/* hero-section  */

.hero-section {
    background-image: url('../imges/bac-hero.png');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 10px);
}

.hero-section {
    padding: 200px 58px;
}

.body-item {
    width: 100%;

}

.body-img img {
    max-width: 100%;
    position: relative;
    width: 600px;
}

.body-item h2 {
    color: var(--color-text-link);
    font-size: 5rem;
    padding-left: 2.5rem;
}

.body-item .body-text p {
    position: absolute;
    color: var(--color-text-link);
    left: 7%;
    top: 45%;
    font-size: 1.5rem;
    text-align: start;
    font-weight: bold;
}

.btn {
    display: inline-flex;
    background-color: var(--color-btn-hero);
    padding: .5rem 1.5rem;
    border-radius: 50px;
    margin: 2rem 1.5rem;


}

.btn img {
    margin-top: .5rem;
}

.btn a {
    color: var(--color-bac-icon);
    margin-right: .7rem;
    font-size: 1.3rem;
}

.go-down {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.go-down i {
    color: var(--color-btn-hero);
    font-size: 4rem;

}

.line-img-bottom img {
    width: 100%;

}

.line-img-bottom {
    position: absolute;
    bottom: -1rem;
    left: 0%;
}


/* to eat style */

.to-eat {
    margin-top: 5rem;
}

.header-to-eat h2 {
    color: var(--color-bac-icon);
    font-size: 3.125rem;
}


.header-to-eat p {
    color: #382E36;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.card-to-eat {
    margin-top: 5rem;
    padding: 0 5rem;
}

.foods {
    display: flex;
    justify-content: space-between;
}

.foods>div {
    background-color: var(--color-text-link);
    margin-left: 1rem;
    padding: 1rem 2rem;
}

.food>img {
    margin-top: 0.5rem;
    width: 70px;
    height: 70px;
}

.food>p {
    margin-top: .8rem;
}


.food .pizza {
    margin-top: 1rem;
}

.food .Cupcake {
    margin-top: 1rem;
}

.food:hover {
    box-shadow: 0 19px 55px rgba(0, 0, 0, .1);
}

/* delivery style */

.delivery {
    margin-top: 5rem;
    background-color: var(--color-btn-hero);
    position: relative;
}

.delivery-text img {
    position: relative;
}


.delivery-text .p-on {
    position: absolute;
    top: 40%;
    right: 55%;
    color: var(--color-text-link);
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;

}

.delivery-text .p-out {
    text-align: start;
    position: absolute;
    top: 70%;
    right: 50%;
    color: #F3DEDE;
    font-size: 1.25rem;
}

.delivery .row .img-top {
    position: absolute;
    top: -5%;

}

.delivery .row .img-bottom {
    position: absolute;
    bottom: -.5%;
}

/* most-popular style */

.most-popular {
    margin-top: 5rem;
}

.popular-header h2 {
    font-size: 2.5rem;
    color: var(--color-bac-icon);
    font-family: Arial, Helvetica, sans-serif;
}

.popular-header p {
    margin-top: 1.5rem;
    color: #382E36;
    font-size: 1.25rem;
}

.popular-header img {
    margin-top: 0;

}

.most-popular-card-1 {
    margin-top: 4rem;
}

.most-popular-card {
    border: none;
    box-shadow: 0 10px 19px rgba(0, 0, 0, 0.1);
    margin: 1.5rem 0;
}

.star {
    margin-right: .5rem;
}

.card-body {
    text-align: start;
    position: relative;
}

.card-body a {
    position: absolute;
    top: 57%;
    right: 55%;
    align-items: center;
    padding: .5rem 1.2rem;
    font-size: .8rem;
    border: none;
}

.card-body a:hover {
    background-color: var(--color-btn-hero);
}


.card-body i {
    margin-right: .5rem;
}

.card-body .right-btn {
    margin-left: 13rem;
    font-size: 1.375rem;
    color: var(--color-bac-icon);
    margin-top: 2.5rem;
}

.card-body .card-text {
    color: var(--color-paragraph);
    font-size: 1rem;
}

.card-body .card-title {
    font-size: 1.375rem;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;

}

.btn-bottom {
    margin-top: 2rem;
}

.btn-bottom a {
    padding: 1rem 2.3rem;
    background-color: var(--color-bac-icon);
    color: var(--color-text-link);
    font-size: 1.125rem;
    border-radius: 50px;
}

.most-popular-card .card-img-top {
    position: relative;
}

.card-body .line-card {
    width: 100%;
    position: absolute;
    top: -2%;
    left: -.5%;

}


/* Happy Hours */


.Happy-Hours {
    margin-top: 7rem;
    position: relative;
}

.bac-Happy-Hours img {
    width: 100%;
    height: 600px;

}


.text-Happy-Hours {
    position: absolute;
    top: 30%;
    text-align: start;

}


.text-Happy-Hours h2 {
    color: var(--color-text-link);
    font-size: 3rem;

}


.text-Happy-Hours p {
    color: var(--color-text-link);
    font-size: 1.125rem;

}

.text-Happy-Hours .hour {
    margin-top: 2rem;
}

.time {
    display: flex;
    color: var(--color-text-link);
    margin-top: 1rem;

}


.time div {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: var(--color-btn-hero);
    margin: 0 1rem 0 0;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 .5rem;
    position: relative;


}

.time div::before {
    position: absolute;
    content: "5";
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 35px;
    font-weight: bold;
}

.time #day::before {
    content: "Days";
}

.time #hours::before {
    content: "Hour";
}

.time #minute::before {
    content: "Minute";
}

.time #second::before {
    content: "Second";
}

.line-happy-top,
.line-happy-bottom {
    width: 100%;
}

.Happy-Hours .line-happy-top {
    position: absolute;
    top: -5%;

}

.Happy-Hours .line-happy-bottom {
    position: absolute;
    bottom: -5%;

}


/* client */

.header-client,
.client-center {
    margin-top: 5rem;
}



.client-img img {
    width: 450px;
    height: 500px;
    z-index: 9;


}

.client-img {
    position: relative;
}

.client-img::before {
    position: absolute;
    content: "";
    width: 350px;
    height: 300px;
    background-color: var(--color-bac-icon);
    left: -5%;
    bottom: -20%;
    z-index: -1;
    border-radius: 10px;
}

.client-text {
    text-align: start;
    margin-top: 5rem;
}

.client-text i {
    color: var(--color-bac-icon);
    font-size: 5.5rem;
}

.client-text .first {
    font-size: 1.125rem;
    font-weight: 500;
}

.client-text h4 {
    margin-top: 3rem;
    font-size: 1.4rem;
    position: relative;
}

.client-text h4::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    border: 1px solid var(--color-bac-icon);
    background-color: var(--color-bac-icon);
    left: 25%;
    bottom: 20%;

}

.client-text .last {
    font-size: 1rem;
    color: var(--color-paragraph);
    font-weight: 500;
}

.lines {
    display: flex;
    justify-content: flex-start;
}

.lines>i {
    color: #adacac;
    font-size: 2rem;
    padding: .3rem;
}

.lines[rate="1"]>i:nth-child(1) {
    color: var(--color-bac-icon);
}

.lines[rate="2"]>i:nth-child(1),
.lines[rate="2"]>i:nth-child(2) {
    color: var(--color-bac-icon);
}

.lines[rate="3"]>i:nth-child(1),
.lines[rate="3"]>i:nth-child(2),
.lines[rate="3"]>i:nth-child(3) {
    color: var(--color-bac-icon);
}

/* card-end */

.bac-color {
    background-color: var(--color-btn-hero);
    width: 100%;
    height: 550px;
    max-height: 999px;
}

.card-end {
    margin-top: 20rem;
    align-items: center;
}

.card-end .end {
    width: 250px;
    height: 300px;
    background-color: var(--color-text-link);
    margin-top: 5rem;
    margin-right: 1.8rem;

}

.card-end .end>div {
    margin-top: 2rem;
    padding: 1.5rem;

}

.card-end .end>div h3 {
    font-size: 1.125rem;
    margin: 1rem 0;
    position: relative;

}

.card-end .end>div h3::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--color-btn-hero);
    bottom: -30%;
    left: 40%;

}

.card-end .end>div p {
    color: var(--color-paragraph);
    font-size: 1rem;
    font-weight: 500;
}

.bac-color {
    position: relative;

}

.img-card-end-top {
    position: absolute;
    width: 100%;
    left: -1%;
    top: -4%;

}


/* call us  */

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 637px;
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 637px;
    width: 100%;
}

.location {
    background-color: var(--color-bac-icon);
    width: 100%;
    text-align: start;
}


.contant {
    margin-left: 6.7rem;
    margin-top: 5rem;
}

.contant .btn-loc {
    padding: .5rem 1.3rem;
    background-color: var(--color-btn-hero);
    color: var(--color-text-link);
    margin-bottom: 1rem;
    border-radius: 20px;
}

.contant .num {
    margin-top: 1rem;
    color: var(--color-text-link);
    font-size: 2.5rem;
}


.loc {
    display: flex;
    margin-bottom: 3rem;

}

.loc p {
    margin-left: 2rem;
    font-size: 1.5rem;
    color: var(--color-text-link);

}

.loc1 {
    position: relative;
}
/* 
.loc1::before {
    position: absolute;
    content: "";
    width: 480px;
    height: .1px;
    background-color: #f15b5b;
    bottom: -10%;
    left: 2%;
} */

.socail i {
    padding: 1rem;
    background-color: var(--color-text-link);
    color: var(--color-bac-icon);
    font-size: 2rem;
    margin-right: 1rem;
    border-radius: 5px;


}

/* footer style */


.footer {
    margin-top: 3rem;
}


.foter-section-1 p {
    text-align: start;
    width: 104%;

}

.logo-footer {
    margin-right: 20rem;
}



.logo-footer img {
    width: 120px;
    height: 80px;

}



.logos {
    text-align: start;
}

.logos .img-footer-4 img {
    margin-top: 0.5rem;
}


.foter-section-2 h2,
.foter-section-3 h2 {
    color: var(--color-bac-icon);
    font-size: 1.125rem;
    position: relative;
}


.foter-section-2 h2::before,
.foter-section-3 h2::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--color-btn-hero);
    bottom: -20%;

}

.text-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.text-footer .text-footer-1,
.text-footer .text-footer-2 {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    font-size: 1rem;
    color: var(--color-paragraph);
}

.text-footer .text-footer-1 a,
.text-footer .text-footer-2 a {
    font-size: 1rem;
    color: var(--color-paragraph);

}

.img-footer {
    margin-top: 1rem;
}


.img-footer-1 img,
.img-footer-2 img {
    margin: 1rem;
}

@media (max-width: 1147.9px) and (min-width:500px) {

    .items {
        display: none;
    }


}

/* 
@media (max-width: 829.9px) and (min-width:500px) {
    .delivery-text img {
        width: 100%;
    }
    .delivery-text .p-on {
        font-size: 3rem;
    }

} */


@media (max-width: 991.9px) and (min-width:500px) {

    .body-item h2 {
        font-size: 3rem;
    }

    .body-item .body-text p {
        top: 51%;
        left: 20%;
        font-size: 1.1rem;
    }

    .body-img img {
        width: 500px;
        height: 220px;
        padding-bottom: 3rem;
    }

    .line-img-bottom {
        bottom: -2%;
    }

    .go-down {
        margin-top: -3rem;
        margin-left: 10rem;
    }

    .go-down i {
        font-size: 2.5rem;
    }
}

@media (max-width: 991.9px) and (min-width:680px) {
    .body-item .body-text p {
        top: 51%;
        left: 12%;
    }



}


@media (min-width: 992px) and (max-width:1527.9px) {
    .body-item .body-text p {
        top: 52%;
        left: 9%;

    }

    .go-down {
        margin-top: -2rem;
        margin-left: 10rem;
    }
}